@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@keyframes new_buttton_animation {
  from {
    background-color: white;
    width: 4rem;
    height: 3rem;
  }

  to {
    background-color: yellowgreen;
    width: 4.5rem;
    height: 3.5rem;
  }
}

.navbar {
  height: 5rem;
  background-color: #111;

  .navbar-brand {
    font-size: 2.5rem;
    position: relative;
    left: 3rem;
    font-family: 'Piedra', cursive;
    color: rgb(240, 237, 219);
  }

  .new_buttton {
    position: absolute;
    right: 5rem;
    background-color: white;
    width: 4rem;
    height: 3rem;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Acme', sans-serif;
  }

  .new_buttton:hover {
    animation-name: new_buttton_animation;
    animation-duration: 1.2s;
    background-color: yellowgreen;
    width: 4.5rem;
    height: 3.5rem;
    cursor: cell;
  }
}

@keyframes example {
  from {
    background-color: rgb(0, 0, 0);
    color: rgb(8, 0, 0);
    -webkit-box-shadow: 0 0 68px 89px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 68px 89px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 68px 89px rgba(0, 0, 0, 0.75);
  }

  to {
    background-color: grey;
    color: rgb(240, 237, 219);
    -webkit-box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
  }
}

.nothing_here {
  padding: 2rem;
  background-color: grey;
  margin-top: 11rem;
  color: rgb(240, 237, 219);
  font-size: 2rem;
  font-weight: 700;
  font-family: 'MuseoModerno', cursive;
  animation-name: example;
  animation-duration: 4s;
  -webkit-box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
}

.step_div {
  width: 100%;
  position: relative;
  left: 5rem;
  height: auto;

  div {
    border: 1px solid black;
    height: 100%;
    border-radius: 8px;
  }

  .allsteps_title {
    background-color: rgb(232, 236, 241);
    font-family: 'Holtwood One SC', serif;
    height: 4rem;
    margin-top: 3rem;
    border-radius: 20px !important;

    span {
      position: relative;
      left: -2.5rem;
    }
  }

  @keyframes all_projects_animation {
    from {
      background-color: rgb(235, 227, 206);
      color: rgb(8, 0, 0);
    }

    to {
      background-color: rgb(191, 216, 144);
      color: rgb(8, 0, 0);
      -webkit-box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
    }
  }

  .allprojects_title {
    background-color: rgb(235, 227, 206);
    font-family: 'Holtwood One SC', serif;
    height: 4rem;
    border-radius: 20px !important;

    span {
      position: relative;
      left: -2.5rem;
    }
  }

  .allprojects_title:hover {
    animation-name: all_projects_animation;
    animation-duration: 1s;
    color: rgb(8, 0, 0);
    background-color: rgb(191, 216, 144);
    -webkit-box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  .single_step {
    height: 2rem;
    margin-bottom: 0.5rem;

    .project_name {
      width: 11rem;
      background-color: rgb(232, 236, 241);
      font-family: 'Holtwood One SC', serif;
      font-size: 0.7rem;
    }

    .project_name_fix {
      width: 11rem;
      background-color: rgb(232, 236, 241);
      font-family: 'Holtwood One SC', serif;
    }

    @keyframes project_name_fix_animation {
      from {
        background-color: rgb(245, 239, 239);
      }

      to {
        background-color: yellowgreen;
      }
    }

    .project_name_fix:hover {
      animation-name: project_name_fix_animation;
      animation-duration: 0.5s;
      background-color: yellowgreen;
      cursor: pointer;
    }

    .completed_link_fix {
      fill: black;
    }

    @keyframes completed_link_fix_animation {
      from {
        fill: black;
      }

      to {
        fill: rgb(102, 141, 24);
      }
    }

    .completed_link_fix:hover {
      fill: rgb(102, 141, 24);
      cursor: pointer;
      animation-name: completed_link_fix_animation;
      animation-duration: 0.5s;
    }

    .death_line_fix {
      width: 6.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 0.7rem;
      font-family: 'Holtwood One SC', serif;
      background-color: rgb(232, 236, 241);
    }

    .step_name {
      width: 45rem;
      background-color: whitesmoke;
      font-family: 'Indie Flower', cursive;
      font-size: 1.1rem;
    }

    .step_name_fix {
      width: 45rem;
      background-color: rgb(230, 220, 220);
      font-family: 'Holtwood One SC', serif;
    }

    .project_desc_fix {
      width: 100% !important;
      background-color: rgb(230, 220, 220);
      font-family: 'Holtwood One SC', serif;
    }

    .priority {
      width: 6rem;
      font-family: 'Holtwood One SC', serif;
      font-size: 0.7rem;
    }

    .priority_fix {
      width: 6rem;
      font-family: 'Holtwood One SC', serif;
      background-color: rgb(232, 236, 241);
      font-size: 0.8rem;
    }

    .erase_link {
      background-color: whitesmoke;
    }

    .completed_link {
      background-color: whitesmoke;
    }

    .completed_link:hover {
      cursor: pointer;
    }

    .death_line {
      background-color: whitesmoke;
      width: 6.5rem;
      font-size: 0.9rem;
      font-weight: 800;
    }
  }
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5rem;

  .general {
    margin-bottom: 3rem;

    div {
      position: relative;
      top: -3.5rem;
      margin-left: 1rem;
      text-decoration: none;
      font-family: 'Holtwood One SC', serif;
      font-size: 1rem;
      color: #f3eaea;
      display: block;
    }

    div:hover {
      color: #6ad324;
      cursor: pointer;
    }
  }

  .projects_text {
    text-align: center;
    background-color: rgb(145, 138, 138);
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Holtwood One SC', serif;
    color: #fff;
    display: block;
  }

  @keyframes p_names_animation {
    from {
      background-color: #726f6f;
      color: rgb(32, 31, 48);
      font-weight: 400;
      border-bottom: 1px solid #31e60d;
    }

    to {
      background-color: white;
      color: rgb(0, 0, 0);
      font-weight: 900;
      border-bottom: 5px solid #31e60d;
    }
  }

  #projects {
    max-height: 25rem;
    overflow-y: hidden;

    a {
      color: white;
      margin-bottom: 1rem;
      font-family: 'MuseoModerno', cursive;
    }

    a:hover {
      animation-name: p_names_animation;
      animation-duration: 1s;
      color: rgb(0, 0, 0);
      background-color: white;
      font-weight: 900;
      cursor: pointer;
      border-bottom: 5px solid #31e60d;
    }
  }

  #projects::-webkit-scrollbar {
    display: none;
  }
}
